@import "step1-description";
@import "step2-assets";
@import "step3-scenarios";
@import "step4-preview";

.characterCreationForm {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 852px;
  margin: 0 auto;

  &__headingContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }

  &__buttonsContainer {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: end;
    justify-content: space-between;
    padding: 20px 0;

    & div {
      display: flex;
      gap: 1rem;
    }
  }

  &__navigationButtons {
    display: flex;
    justify-content: space-between;
  }

  &__stepsContainer {
    width: 100%;
    border-radius: 1rem;
    max-height: auto;
    overflow: auto;
    margin: 0 auto;
  }

  &__titleContainer {
    display: flex;
    gap: 10px;
    align-items: center;
    a {
      color: gray;
      transition: all 0.2s ease-out;

      &:hover {
        color: lightgray;
      }
    }
  }
}
