@import '../../styles/variables';

.CutsceneDisplayer {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      margin: 0;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__infoIcon {
        font-size: 1.25rem;
        color: $text-2;
      }
    }
  }
}
