@import '../../styles/variables';

.CutsceneDisplayer {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      margin: 0;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__infoIcon {
        font-size: 1.25rem;
        color: $text-2;
      }
    }
  }

  &__info {
    border: 1px solid $node-conector-color;
    border-radius: 0.5rem;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;

    &__title {
      gap: 1rem;

      & h3 {
        margin: 0;
      }

      & p {
        margin: 0;
        font-size: 0.9rem;
      }
    }
  }
}
