@import '../../styles/variables.scss';

.CutScenePartsRender {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & h2 {
      margin: 0;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      &__infoIcon {
        font-size: 1.25rem;
        color: $text-2;
      }
    }

    &__controls {
      display: flex;
      align-items: center;
      gap: 10px;
    }
  }

  &__parts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  &__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
  }

  &__part {
    border: 1px solid $node-conector-color;

    border-radius: 10px;
    position: relative;
    background-color: $background-2;

    &__buttons {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      position: absolute;
      top: 15px;
      right: 15px;
      z-index: 1;

      &__icon {
        cursor: pointer;
        width: 1.2rem;
        height: 1.2rem;
        transition: color 0.2s ease-in-out;
        &:hover {
          color: $secondary-color;
        }
      }
    }

    &__content {
      //

      & p {
        margin: 10px 0;
        padding: 0 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    &__music {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      margin: 0 10px;
      border-top: 1px solid $node-conector-color;
    }

    &__assets {
      position: relative;
      width: 100%;
      height: 200px;
      display: flex;
      align-items: end;
      justify-content: center;

      & h3 {
        margin: 0;
        font-size: 1.2rem;
        font-weight: 600;
        width: fit-content;
        border: 1px solid $secondary-color;
        padding: 0.2rem 0.5rem;
        border-radius: 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        z-index: 1;
        background-color: $background-2;
      }

      &__background {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      &__character {
        height: 80%;
        z-index: 1;
      }
    }
  }
}
//add media query for width 480px
@media (max-width: 480px) {
  .CutScenePartsRender {
    &__header {
      flex-direction: column;
      align-items: center;

      &__controls {
        width: 100%;
        justify-content: space-between;
      }
    }

    &__container {
      justify-content: center;
    }
  }
}
