@import '../../styles/variables.scss';

.CutScenePartsRender {
  border: 1px solid $node-conector-color;
  padding: 0.5rem;
  border-radius: 10px;
  margin-top: 16px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & h2 {
      margin: 0;
    }
  }

  &__parts {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}
