@import '../../styles//variables';

.PartEditModal {
  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;

    &__removePlace,
    &__closeModal {
      color: $text-1;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
    &__closeModal {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__text {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin: 0;

      & p {
        margin: 0;
        font-size: 1.2rem;
      }
    }
  }

  &__music {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 10px;
    border: 1px solid $node-conector-color;
  }
}
