.scrollbar::-webkit-scrollbar {
  width: 10px;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: white;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: skyblue;
  border-radius: 100vh;
  border: 3px solid #f6f7ed;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c0a0b9;
}

.scrollbar {
  scrollbar-color: rgb(167 139 250) transparent;
  scrollbar-width: auto;
}

.bot-display-images-container {
  box-shadow: 0px 0px 20px 0px rgb(205 95 234);
}


.bot-display-header {
  padding: 5px;
}

.conversation-background-image {
  transition: all 0.2s ease-in;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.main-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 10%);
}

.conversation-bot-image {
  transition: all 0.2s ease-in;
  pointer-events: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  opacity: 0;
}

.audio-button,
.reload-button,
.response-swiping {
  opacity: 0;
  transition: all 0.2s ease-in;
}

.reload-button:hover,
.response-container:hover .reload-button,
.response-container:hover .response-swiping,
.response-container:hover .audio-button {
  opacity: 1;
}

.reload-button:hover {
  box-shadow: 0 0 6px 0 white;
}

.wand-button {
  animation: blinker 1s linear infinite;
  transition: all 0.2s ease-in;
}

.wand-button svg {
  filter: drop-shadow(0px 0px 2px hsla(0, 0%, 100%, 0.904));
}

.wand-button:hover {
  animation: none;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

.animate-response--italic {
  font-style: italic;
  color: #c3c3c3;
  font-family: 'Courier New', Courier, monospace;
  /* font-size: .9em; */
}
