@import "../../styles/variables.scss";

.MapList {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $background-1;
    padding: 10px 16px;
    border-radius: 16px;

    & h2 {
      margin: 0;
    }
  }
  &__container {
    display: flex;

    flex-wrap: wrap;
    width: 100%;

    &__box {
      display: flex;
      width: 50%;
      padding: 8px;
      min-width: 300px;
      min-height: 300px;
    }

    &__map {
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: relative;
      border: 1px solid $node-conector-color;
      padding: 16px;
      background-color: $background-1;
      border-radius: 16px;
      width: 100%;

      & h3,
      & p {
        margin: 0;
        text-shadow: 0 1px 3px rgba(0, 0, 0, 0.897);
      }

      &:hover {
        .MapList__container__edit {
          opacity: 1;
        }
      }
    }

    &__edit {
      position: absolute;
      top: 10px;
      right: 10px;
      color: white;
      width: fit-content;
      cursor: pointer;
      transition: all 0.2s ease;
      opacity: 0;

      &:hover {
        color: $secondary-color;
      }
    }
  }
}
