.ChatBox {
  position: absolute;
  width: 100%;
  height: 14.5rem;
  bottom: 35px;
  z-index: 1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__Rnd {
    border: 1px solid #7957d2;
    width: 75%;
    min-width: 350px;
    min-height: 200px;
  }
}
@media screen and (max-width: 820px) {
  .ChatBox__Rnd {
    width: 100%;
    transform: translate(0px, 0px) !important;
  }
}
