.ChatBox {
  position: absolute;
  width: 100%;
  height: 25%;
  bottom: 35px;
  z-index: 1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
