.ChatBox {
  position: absolute;
  width: 100%;
  height: 14.5rem;
  bottom: 35px;
  z-index: 1;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: ease-in-out 0.2s;

  &__Rnd {
    width: 75%;
    min-width: 700px;
    min-height: 200px;
    background: linear-gradient(to top, rgba(#171717, 0.9), rgba(#171717, 0.6));
  }
}
.expanded {
  height: 60%;
  .ResposeBox {
    max-height: unset;
    min-height: 85%;
    &__text{
      line-height: 1.4rem;
    }
  }
}
@media screen and (max-width: 820px) {
  .ChatBox__Rnd {
    width: 100%;
    transform: translate(0px, 0px) !important;
  }
}
