@import "../../styles/variables";

.ItemEdit {
  display: flex;
  flex-direction: column;
  gap: 8px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;

    &__removePlace,
    &__closeModal {
      color: $text-1;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }

    &__closeModal {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__form {
    display: flex;
    gap: 10px;
    width: 100%;
    margin-top: 16px;

    &__image {
      display: flex;
      position: relative;
      width: fit-content;
      height: fit-content;

      .dragAndDropImages {
        margin: 0;
      }

      &__loaderContainer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 10;
        border-radius: 16px;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
      width: 100%;
      gap: 16px;
    }
  }

  &__actions {
    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    &__title {
      display: flex;
      align-items: center;
      gap: 10px;

      & h3 {
        margin: 0;
      }
    }

    &__container {
      display: flex;
      gap: 10px;
      flex-direction: column;
      max-height: 450px;
      overflow: auto;
      padding-right: 8px;
    }

    &__action {
      background-color: $background-3;
      padding: 10px;
      border-radius: 16px;
      display: flex;
      flex-direction: column;
      gap: 8px;
      position: relative;

      &__mutation {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border: 1px solid $node-conector-color;
        border-radius: 16px;
        padding: 4px;

        & h3 {
          margin: 0;
          padding-left: 4px;
        }

        & div {
          display: flex;
          align-items: center;
          gap: 8px;
        }
      }
    }

    &__remove {
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
  }

  &__scenes {
    &__title {
      display: flex;
      align-items: center;
      gap: 10px;

      & h3 {
        margin: 0;
      }
    }
  }
}
.ItemEditModal {
  max-width: 800px !important;
}
