.BackgroundEditModal {
  &__background {
    height: 300px;
    background-size: cover;
    background-position: center;
    border-radius: 15px;
    margin: 1em 0;
  }

  &__attribute {
    display: flex;
    align-items: center;
    font-size: 1.4rem;
    gap: 0.4rem;
    .Button {
      margin-left: 1rem;
    }
  }
}
