@import '../variables';

.AreYouSure {
  &__actions {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    margin-top: 2rem;

    .Button {
      min-width: 100px;
      position: relative;
    }

    .Loader img {
      height: 16px;
    }
  }
}
