.Blocks {
  display: flex;
  gap: 15px;

  &__item {
    width: 100px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: 100px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    color: #fff;
    background-color: #383b5d;
    outline: none;
    overflow: hidden;
    gap: 10px;
    position: relative;

    &:hover {
      border: 2px solid #aaa1ff;
    }

    img {
      height: 100%;
      object-fit: cover;
    }

    &--highlighted {
      border: 2px solid #9747ff;
    }
  }

  &__item-edit {
    position: absolute;
    top: 5px;
    right: 5px;
  }
}
