@import '../variables';

.ImageSlider {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  background-size: cover;
  background-position: center;
  margin-bottom: 0.75rem;

  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__backgroundImage {
    width: 331px;
    height: 331px;
    border-radius: 1rem;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  &__selectedImage {
    width: auto;
    height: 100%;
  }

  &__prevButton,
  &__nextButton {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $background-3;
    color: #6c7293;
    border: unset;
    cursor: pointer;

    &:hover {
      transition: 0.5s;
      box-shadow: 0 0px 8px $secondary-color;
    }
  }

  &__prevButton {
    transform: rotate(180deg);
  }
}
