@import '../variables';

.Input {
  background: transparent;
  font-weight: 500;
  font-size: 0.875rem;

  &__label {
    line-height: 1.25rem;
    color: $text-1;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.5rem;
    width: fit-content;
  }

  &__infoIcon {
    display: flex;
  }

  &__tooltip {
    padding-left: 20px !important;
  }

  &__container {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    border: 1px solid $color-1;

    &:hover {
      border-color: $color-1;
    }

    &:focus-within {
      border-color: $purple-1;
      box-shadow: 0 0 0 2px rgba($purple-1, 0.3);
    }

    &.right {
      flex-direction: row-reverse;
      justify-content: space-between;
    }
  }

  &__button {
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
  }

  &__icon {
    align-self: center;
    width: 1rem;
    height: 1rem;
  }

  &__textArea,
  &__field {
    width: 100%;
    background: transparent;
    box-sizing: border-box;
    border: none;
    color: $text-1;
    padding: 0;
    line-height: 1.25rem;
    font-size: 0.875rem;

    &::placeholder {
      font-weight: 500;
      font-size: 0.875rem;
      line-height: 1.25rem;
      font-family: 'Poppins', 'Roboto', sans-serif;
      color: $color-1;
    }
  }

  &__textArea {
    max-width: 100%;
    min-width: 100%;

    &:focus-visible {
      outline: none;
    }
  }

  &__field {
    outline: none;
    line-height: 1.25rem;
  }

  &__error {
    font-size: 0.5rem;
    color: $error-text;
  }
}
