@import '../variables';

.MusicSelector {
  background-color: $background-1;

  &__title {
    font-weight: bold;
  }

  &__selected {
    display: flex;
    gap: 20px;
  }

  &__actions {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  &__defaults {
    max-height: 500px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }

  &__default {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: rgba($background-2, 0.7);
    padding: 10px;
    transition: all 0.2s ease-out;

    &:hover {
      background-color: $background-1;
    }

    &-name {
      font-size: 0.8rem;
      width: 15rem;
    }

    &__source {
      font-size: 0.8rem;
    }
  }

  &__player {
    height: 26px;
  }

  &__custom {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
  }
}
