.SlidePanel {
  &__modal {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    background: white;
    overflow: auto;
    outline: none;
    padding: 20px;
    width: 300px;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    transition: background-color 0.3s ease-in-out;
    z-index: 3;
  }
}
