@import "../../styles/variables.scss";

.ConditionEdit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;

    &__removePlace,
    &__closeModal {
      color: $text-1;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
    &__closeModal {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}
.ConditionEditModal {
  max-width: 850px !important;
}
