@import '../../styles/variables.scss';

.ObjectiveEdit {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;

    &__removePlace,
    &__closeModal {
      color: $text-1;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
    &__closeModal {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;

    &__title {
      display: flex;
      align-items: center;
      gap: 8px;

      & h3 {
        margin: 0;
      }

      &__infoIcon {
        width: 1.2rem;
        height: 1.2rem;
        color: #8489bd;
      }
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    &__form {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
    &__actions {
      &__button {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }
    }
  }
}
.ObjectiveEditModal {
  max-width: 750px !important;
}
