@import "../../styles/variables";

.SceneEditModal {
  max-width: 1200px;
  background: $background-3;

  &__background-container {
    height: 330px;
    border-radius: 1rem;
    margin: 20px 0;
    position: relative;
    margin-bottom: 60px;

    .ImageSlider__selectedImage {
      transition: all 0.2s ease-out;
    }

    &:has(.SceneEditModal__background-edit-btn:hover) {
      .SceneEditModal__background {
        opacity: 0.3;
      }
    }

    &:has(.SceneEditModal__character-select1-btn:hover) {
      .SceneEditModal__character:first-child {
        .ImageSlider__selectedImage {
          filter: blur(5px);
          margin-bottom: -1rem;
        }
      }
    }

    &:has(.SceneEditModal__character-select2-btn:hover) {
      .SceneEditModal__character:last-child {
        .ImageSlider__selectedImage {
          filter: blur(5px);
          margin-bottom: -1rem;
        }
      }
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
    transition: all 0.2s ease-out;
    z-index: -1;
  }

  &__background-edit-btn,
  &__character-select1-btn,
  &__character-select2-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    color: black;
    z-index: 99999;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 6px;
    padding: 5px;
    display: flex;
    transition: all 0.2s ease-out;
    outline: none;
    width: 36px;
    display: flex;
    justify-content: center;

    svg {
      width: 24px;
      height: 24px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.8);
    }
  }

  &__character-select1-btn,
  &__character-select2-btn {
    top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;

    svg {
      width: 12px;
      height: 12px;
    }
  }

  &__character-select2-btn {
    top: 90px;

    &--disabled {
      background-color: rgba(255, 255, 255, 0.1);
    }
  }

  &__characters {
    display: flex;
    justify-content: center;
    gap: 30px;

    .ImageSlider__backgroundImage {
      overflow: hidden;
    }

    .Carousel {
      position: absolute;
      bottom: -40px;
    }
  }

  &__character {
    position: relative;
  }
}

// if screen is mobile
@media screen and (max-width: 928px) {
  .SceneEditModal__character {
    width: 40%;
    .ImageSlider__container {
      gap: 0;
    }
    .ImageSlider__backgroundImage {
      width: initial;
    }
    .ImageSlider__selectedImage {
      height: 60%;
    }
  }
}
