@tailwind base;
@tailwind components;
@tailwind utilities;

.App .scrollbar::-webkit-scrollbar {
  width: 0.3em;
}

.App .scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: transparent;
}

.App .scrollbar::-webkit-scrollbar-thumb {
  background: rgb(167 139 250);
  border-radius: 100vh;
  border: 0;
}

.App .scrollbar::-webkit-scrollbar-thumb:hover {
  background: rgb(196 181 253);
}

.App .scrollbar {
  scrollbar-color: rgb(167 139 250) transparent;
  scrollbar-width: auto;
}

.button-transparent {
  transition: all 0.3s ease;
  border-radius: 0.375rem;
  border: 2px solid #a696e7;
  color: white;
  background: transparent;
}
.button-transparent:hover {
  box-shadow: 0px 0px 10px 0px rgb(205 95 234);
}

.button-purple {
  transition: all 0.3s ease;
  border-radius: 0.375rem;
  color: white;
  background-color: #7957d2 !important;
}

.button-purple:hover {
  background-color: #6f4cffe0 !important;
}

/* Custom audio player */
.custom-audio-player {
  display: flex;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  padding: 4px;
}

.custom-audio-player button {
  background-color: #7957d2;
  color: white;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  padding: 4px 8px;
  font-size: 14px;
  margin-right: 4px;
}

input[type="range"] {
  background-color: transparent;
  cursor: pointer;
  -webkit-appearance: none;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 3px;
  background-color: #7957d2;
  border-radius: 2px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
  margin-top: -4.5px;
}

input[type="range"]::-moz-range-track {
  height: 3px;
  background-color: #7957d2;
  border-radius: 2px;
}

input[type="range"]::-moz-range-thumb {
  height: 12px;
  width: 12px;
  background-color: white;
  border-radius: 50%;
  cursor: pointer;
}
