.ScenarioSelector {
  position: relative;
  display: inline-flex;
}

.ScenarioSelector__trigger {
  outline: none;
  padding: 0;
  margin: 0;
  transition: all .2s ease-out;
  display: inline-flex;
}

.ScenarioSelector__trigger:hover {
  box-shadow: 0 0 6px 0 white;
}

.ScenarioSelector__list-container {
  position: absolute;
  display: none;
  left: 0;
  top: 28px;
  border-radius: 4px;
  /* box-shadow: 0 0 6px 0 white; */
  transition: all .2s ease-out;
  background-color: rgb(30 26 65);
  opacity: 0;
}


.ScenarioSelector--expanded .ScenarioSelector__list-container {
  display: block;
  opacity: 1;
}

.ScenarioSelector__list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 15px;
  width: 200px;
}

.ScenarioSelector__item {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  text-align: left;
  font-size: .8em;
  border-radius: 4px;
  position: relative;
  transition: all .2s ease-out;
}

.ScenarioSelector__item-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  opacity: .3;
}

.ScenarioSelector__item-emotion {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  opacity: .6;
}

.ScenarioSelector__item:hover {
  box-shadow: 0 0 6px 0 white;
  transform: scale(1.03);
}


.ScenarioSelector__item-text {
  padding-left: 5px;
  color: white;
}