$primary-color: #ff4e67;
$secondary-color: #9747ff;

$background-1: #25284b;
$background-2: #1b1f3a;
$background-3: #1b2142;
$text-1: #fffef9;
$text-2: #6f7396;
$text-3: #5f6388;

$badge-cheap: #9747ff;
$badge-normal: #4978fa;
$badge-expensive: #ff4e67;

$node-color: #4978fa;
$node-color-active: #ff4e67;
$node-color-completed: #9747ff;
$node-conector-color: #6c7293;

$color-green: #16a34a;
$color-gold: #c18e30;
$color-red: #ff0000;

.scrollbar::-webkit-scrollbar {
  width: 0.3em;
}

.scrollbar::-webkit-scrollbar-track {
  border-radius: 100vh;
  background: $background-2;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: #a78bfa;
  border-radius: 100vh;
  border: 0;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: #c4b5fd;
}
