@import 'variables';
@import 'buttons';
@import 'normalize';

* {
  box-sizing: border-box;
}

body {
  // background: linear-gradient(#0c0a1d 0%, #1e1a41 100%);
  background: $background-2;
  min-height: 100vh;
  font-family: 'Poppins', 'Roboto', sans-serif;
  color: $text-1;
  padding: 0;
  margin: 0;
}

button,
a {
  cursor: pointer;
  background: transparent;
  border: none;
  text-decoration: none;
}
.page-container {
  background-color: transparent;
  padding: 1.5rem;
  border-radius: 1rem;
}

.group {
  background-color: $background-1;
  padding: 1rem;
  border-radius: 1rem;
}

.title {
  font-size: 1.375rem;
  font-weight: 600;
}

.title-small {
  font-size: 1.125rem;
  font-weight: 600;
}

.app {
  margin: 0 auto;
  max-width: 1200px;

  &__header {
    padding: 1rem 0;
    font-size: 1.4rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header-right {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__header-logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

#toast-root {
  z-index: 999999;
  position: relative;
}

@media (max-width: 400px) {
  .app__header {
    flex-direction: column;
    font-size: 1.8rem;
    gap: 10px;
  }
}
