@import "../../styles/variables";

.SceneGraph {
  width: 100%;
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */

  &__graph {
    width: 100%;
    height: 70vh;
    background: #222222;
    margin-top: 15px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 0px rgb(205 95 234);
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
  }
}

.SceneNode {
  width: 150px;
  height: 70px;
  background-size: cover;
  position: relative;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0px rgb(205 95 234);
  transition: all 0.2s ease-out;
  user-select: none;

  &:hover {
    box-shadow: 0px 0px 10px 0px rgb(205 95 234);
  }

  &__title {
    font-size: 0.7rem;
    text-align: center;
    position: absolute;
    top: -18px;
    // padding: 5px 10px;
    // background-color: $background-2;
    // border-top-right-radius: 10px;
    // border-top-left-radius: 10px;
  }

  &__characters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__character {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
}

.customHandleSource {
  width: 100%;
  height: 100%;
  background: blue;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 0;
  opacity: 0;
  transform: none;
  border: none;
}

.customHandleTarget {
  width: 100%;
  height: 100%;
  background: red;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border-radius: 0;
  transform: none;
  border: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.SceneNode__start-icon {
  position: absolute;
  top: -10px;
  right: -10px;
  color: #9747ff;
  cursor: pointer;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.SceneNode__start-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  color: gray;
  cursor: pointer;
}

.SceneNode__start-icon:hover {
  color: lightgray;
}

.SceneNode__start-icon.selected {
  color: #9747ff;
}
