$background-1: #25284b;
$background-2: #1b1f3a;
$text-1: #fffef9;
$text-2: #6f7396;
$text-3: #5f6388;

$badge-cheap: #773aff;
$badge-normal: #4978fa;
$badge-expensive: #e84f61;

$node-color: #4978fa;
$node-color-completed: #e84f61;
$node-color-active: #773aff;
