.SettingsModal {
  padding: 10px 20px;
  overflow: auto;
}

.SettingsModal__name {
  /* display: flex; */
  padding: 20px 15px;
  background-color: #FFFFFF11;
  /* align-items: center; */
  border-radius: 8px;
  margin: 15px 0;
}

.SettingsModal__text-speed,
.SettingsModal__text-font-size {
  display: flex;
  padding: 20px 15px;
  background-color: #FFFFFF11;
  margin: 15px 0;
  align-items: center;
  border-radius: 8px;
}

.SettingsModal__text-speed p,
.SettingsModal__text-font-size p,
.SettingsModal__voice-speed p {
  flex: 1;
}

.SettingsModal__text-speed .slider-container,
.SettingsModal__text-font-size .slider-container,
.SettingsModal__voice-speed .slider-container {
  flex: 2
}

.SettingsModal__voice {
  padding: 15px;
  background-color: #FFFFFF11;
  border-radius: 8px;
  border: 1px solid #FFFFFF22;
}

.SettingsModal__voice-description {
  font-size: .8rem;
  font-style: italic;
  color: lightgray;
}

.SettingsModal__voice-enabled {
  display: flex;
  justify-content: flex-end;
  margin: 15px 0;
  flex: 1;
}

.SettingsModal__voice-header {
  display: flex;
  justify-content: space-between;
}

.SettingsModal__voice-header-title {
  flex: 3;
}

.SettingsModal__voice-id {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  align-items: center;
}

.SettingsModal__voice-id p {
  flex: 2;
}

.SettingsModal__voice-id-input {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 15px;
}

.SettingsModal__voice-id-input .dropdown__list {
  top: initial;
  bottom: 100%;
}

.SettingsModal__voice-speed {
  display: flex;
  margin: 15px 0;
  align-items: center;
  border-radius: 8px;
}

.SettingsModal__voice-id-listen {
  cursor: pointer;
}

.SettingsModal__voice-id-listen:hover {
  color: gray;
}