@import '../../variables';

.react-flow__node-dialogueNode {
  font-size: 12px;
  background: transparent;
  border-radius: 5px;
  text-align: center;
  border: transparent;

  .DialogueNode {
    &__avatar {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      position: absolute;
      left: -10px;
      top: -10px;
    }

    &__text {
      width: 200px;
      height: 40px;
      text-overflow: ellipsis;
      overflow: hidden;
      text-align: left;
      padding: 5px 10px;
      font-size: 0.4rem;
      transition: all 0.2s ease-out;
      border: 1px solid #555;
      border-radius: 6px;
      background-color: rgba(darkgray, 0.2);
      color: gray;
    }

    &__edit-btn {
      position: absolute;
      right: 1px;
      top: -16px;
      opacity: 0;
      transition: all 0.2s ease-out;
      color: gray;

      &:hover {
        color: white;
      }
    }

    &__delete-btn {
      position: absolute;
      right: 1px;
      top: -16px;
      opacity: 0;
      transition: all 0.2s ease-out;
      color: lightcoral;
      padding-right: 10%;
      z-index: -1;

      &.is-item-action {
        padding-right: 0;
      }

      &:hover {
        color: red;
      }
    }

    &:hover {
      .DialogueNode__edit-btn {
        opacity: 1;
      }
    }

    &:hover {
      .DialogueNode__delete-btn {
        opacity: 1;
      }
    }

    &--highlighted {
      .DialogueNode__text {
        // border: 1px solid $secondary-color;
        background-color: rgba($secondary-color, 0.2);
        color: white;
      }
    }

    &--last-response {
      .DialogueNode__text {
        // border: 1px solid $secondary-color;
        background-color: rgba($secondary-color, 0.5);
      }

      .DialogueNode__edit-btn {
        opacity: 1;
        color: #a1a1a1;

        &:hover {
          color: white;
        }
      }

      .DialogueNode__delete-btn {
        opacity: 1;
        color: lightcoral;

        &:hover {
          color: red;
        }
      }
    }

    &--response {
      cursor: pointer;

      .DialogueNode__avatar {
        // left: -10px;
        // top: -10px;
      }

      &:hover {
        .DialogueNode__text {
          border: 1px solid $secondary-color;
          background-color: rgba($secondary-color, 0.2);
        }
      }
    }
  }
}

.react-flow__attribution {
  display: none;
}

.History {
  display: inline-flex;

  &__modal {
    width: 100%;
    height: 80vh;
    background: transparent;
    margin-top: 15px;

    &--mobile {
      height: 70vh;
    }
  }

  &__actions {
    display: flex;
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    gap: 0.5rem;

    .icon-button {
      color: white;
      font-size: 1.5rem;
      transition: all 0.2s ease-out;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }

      &:last-child {
        padding-left: 1rem;
      }
    }

    .hidden {
      display: none;
    }
  }

  &__modal-container.Modal {
    overflow: clip;
    width: 90%;
    max-width: initial;
    z-index: 3;
    top: 5vh;

    @media screen and (max-width: 800px) {
      width: 100%;
    }

    @media screen and (max-height: 800px) {
      top: 2vh;
    }
  }

  &__modal-container--mobile.Modal {
    margin-top: 8vh;
  }

  &__trigger {
    font-size: 1.2rem;

    &:disabled {
      svg {
        color: gray;
        cursor: default;
      }
    }
  }

  &__edit-modal.Modal {
    overflow: visible;
  }

  &__tabs {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__tab {
    padding: 0.5rem 1rem;
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover {
      color: $secondary-color;
    }

    &--active {
      color: $secondary-color;
      border-bottom: 2px solid $secondary-color;
    }
  }
}
