@import '../styles/variables';

.InferenceBanner {
  background: linear-gradient(rgb(30, 36, 72), rgb(30, 36, 72));
  border-radius: 10px;
  margin-top: 30px;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__title {
    font-size: 1.4rem;
    font-weight: bold;
  }

  &__description {
    font-style: italic;
    color: $text-2;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }

  img {
    width: 25%;
    object-fit: cover;
    border-radius: 10px;
    background-color: rgba($color: white, $alpha: 0.1);
  }

  &__button {
    height: auto;
    display: flex;
    justify-content: flex-end;
  }
}
//add media query for width 540px
@media (max-width: 540px) {
  .InferenceBanner {
    &__content {
      flex-direction: column;
      margin-bottom: 10px;
    }

    img {
      width: 100%;
    }
  }
}
