@import "../../styles/variables.scss";

.MapEdit {
  display: flex;
  gap: 0.5rem;
  align-items: flex-end;

  &__removeMap {
    position: absolute;
    top: 16px;
    right: 16px;
    color: $text-1;
    width: 1rem;
    height: 1rem;
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    max-width: 35rem;

    &__map {
      width: fit-content;
      height: fit-content;
      position: relative;
    }

    &__uploadMap {
      margin: 0;
      .mdSize {
        width: 35rem;
        height: 35rem;
      }
    }

    &__top {
      display: flex;
      gap: 10px;
    }
  }

  &__createPlace {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 35rem;
    padding: 8px;

    & label {
      margin-left: 5px;
    }
  }

  &__placesContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding: 8px 0;
    max-height: 35rem;
    width: 220px;
    overflow-y: auto;

    &__button {
      min-width: 1.7rem;
      min-height: 1.7rem;
      color: $node-conector-color;
      transition: ease-in-out 0.2s;
      cursor: pointer;

      &:hover {
        color: $text-1;
      }
    }
  }

  &__place {
    position: relative;
    width: 200px;
    height: 100px;
    min-height: 100px;
    border: 1px solid $node-conector-color;
    transition: ease-in-out 0.2s;
    border-radius: 16px;

    &__placePreview {
      width: 100%;
      height: 100%;
      border-radius: 16px;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0.6;
    }

    &__edit {
      color: $node-conector-color;
      position: absolute;
      top: 10px;
      right: 10px;
      cursor: pointer;
      transition: ease-in-out 0.2s;
      opacity: 0;

      &:hover {
        color: $text-1;
      }
    }

    &:hover {
      .MapEdit__place__edit {
        opacity: 1;
      }
    }
  }
}
.MapEditModal {
  max-width: 850px !important;
}
