@import '../../styles/variables.scss';

.PlaceEditModal {
  max-width: 850px !important;
}
.PlaceEdit {
  display: flex;
  gap: 10px;

  &__buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 20px;
    right: 20px;

    &__removePlace,
    &__closeModal {
      color: $text-1;
      width: 1.3rem;
      height: 1.3rem;
      cursor: pointer;

      &:hover {
        color: $secondary-color;
      }
    }
    &__closeModal {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  &__maskImage {
    width: 35rem;
    height: 35rem;
    position: relative;

    &__map {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: contain;
      top: 0;
      left: 0;
      border-radius: 16px;
      opacity: 0.25;
    }

    &__mask {
      & img {
        opacity: 0.6;
      }
    }

    .mdSize {
      width: 35rem !important;
      height: 35rem !important;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__sceneSelect {
    & label {
      color: $text-1;
      margin-bottom: 0.5rem;
      font-weight: 500;
      font-size: 0.875rem;
    }
  }
}

//add media query for width 825px
@media (max-width: 825px) {
  .PlaceEditModal {
    max-width: 100% !important;
  }

  .PlaceEdit {
    // flex-direction: column;

    &__form {
      width: 100%;

      .mdSize {
        width: 10rem !important;
        height: 10rem !important;
      }
    }

    &__maskImage {
      width: 20rem;
      height: 20rem;

      .mdSize {
        width: 20rem !important;
        height: 20rem !important;
      }
    }
  }
}
// add media query for width 585px
@media (max-width: 585px) {
  .PlaceEdit {
    flex-direction: column;
    align-items: center;
    &__form {
      width: 100%;
    }
  }
}
