@import '../../variables';

.IndicatorsDisplay {
  position: absolute;
  top: 60px;
  right: -250px;
  width: 250px;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0 0 0 8px;
  padding: 10px;
  transition: right 0.3s ease-in-out;
  z-index: 2;
  background: linear-gradient(#0c0a1d 0%, #1e1a41 100%);
  background: $background-1;

  &.mobile {
    top: 90px;
  }

  &.open {
    right: 0;

    .IndicatorsDisplay__toggle {
      background: $background-1;
      svg {
        color: white;
      }
    }
  }

  &__toggle {
    position: absolute;
    top: 0px;
    left: -39px;
    z-index: 101;
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    border-radius: 8px 0 0 8px;
    background-color: rgba($background-1, 0.6);
    transition: all 0.3s ease-in-out;
    display: flex;
    align-items: center;

    svg {
      width: 24px;
      height: 24px;
      color: rgba(255, 255, 255, 0.6);
      transition: transform 0.3s ease-in-out;

      &.has-indicators {
        animation: heartPulse 2s ease-in-out infinite;
      }
    }

    &:hover {
      background-color: $background-1;
      svg {
        color: white;
      }
    }
  }

  &__no-indicators {
    color: $text-3;
    font-size: 0.8rem;
    font-style: italic;
  }

  &__indicator {
    margin-bottom: 12px;

    &-header {
      display: flex;
      justify-content: flex-start;
      align-items: center;
    }

    &-name {
      font-size: 10px;
      color: #fff;
      font-weight: 500;
      padding: 4px 0;
    }

    &-edit {
      background: none;
      border: none;
      padding: 4px;
      cursor: pointer;
      color: #666;
      transition: color 0.2s ease;

      outline: none;

      &:focus {
        outline: none;
      }

      &:hover {
        color: #fff;
        svg {
          color: #fff;
        }
      }

      svg {
        width: 11px;
        height: 11px;
        color: #666;
        transition: color 0.2s ease-out;
      }
    }

    &-bar {
      background-color: rgba(255, 255, 255, 0.1);
      height: 6px;
      border-radius: 3px;
      overflow: hidden;
      position: relative;
      width: 100%;

      &-fill {
        height: 100%;
        width: 0%;
        transition: width 0.5s ease-in-out;
      }
    }

    &-value {
      position: absolute;
      left: 4px;
      // top: -14px;
      font-size: 10px;
      color: #fff;
    }

    &-discrete {
      font-size: 13px;
      font-weight: 500;
      text-align: left;
    }

    &-value-container.prefilled {
      font-style: italic;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 4px;

      .IndicatorsDisplay__indicator-prefill-indicator {
        // dot
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background-color: $color-gold;
      }
    }
  }

  &__edit-modal {
    width: 300px;
    padding: 20px;
    overflow: visible !important;

    &-content {
      margin-top: 20px;
    }

    &-actions {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 10px;
    }

    &-schema {
      margin-top: 1rem;
      padding-top: 1rem;
      border-top: 1px solid rgba(255, 255, 255, 0.1);
      display: flex;
      justify-content: center;
      .Button {
        width: 100%;
      }
    }
  }

  &__create-indicator {
    display: flex;
    justify-content: flex-end;
  }

  &__create-indicator-button {
    background-color: #9747ff;
    color: white;
    padding: 0.4rem 0.6rem;
    border: none;
    background-color: rgba(255, 255, 255, 0.1333333333);
    color: lightgray;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border-radius: 8px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;

    &:hover {
      background-color: #9747ff;
      color: white;
    }

    &:disabled {
      background-color: rgba(255, 255, 255, 0.1333333333);
      color: white;
      opacity: 0.5;
    }
  }

  &__indicator-delete {
    background: none;
    border: none;
    padding: 4px;
    cursor: pointer;
    color: #666;
    transition: color 0.2s ease;
    margin-right: 4px;

    outline: none;

    &:focus {
      outline: none;
    }

    &:hover {
      color: #ff4444;
      svg {
        color: #ff4444;
      }
    }

    svg {
      width: 11px;
      height: 11px;
      color: #666;
      transition: color 0.2s ease-out;
    }
  }
}

@keyframes heartPulse {
  0% {
    color: rgba(255, 255, 255, 0.8);
  }
  50% {
    color: #d54155;
  }
  100% {
    color: rgba(255, 255, 255, 0.8);
  }
}
