
.fade-in {
  opacity: 1;
  transition: opacity 0.5s ease;
}

.up-and-down {
  animation: up-and-down 3s ease-in-out infinite;
}

@keyframes up-and-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
}