@import '../../variables';

.CreateScene {
  &__background__button,
  &__characters__item {
    height: 100px;
    border-radius: 10px;
    transition: all 0.2s ease-out;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
    color: white;
    background-color: $background-1;
    outline: none;

    &:hover {
      border: 2px solid #aaa1ff;
    }
  }

  &__characters__item {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img {
      height: 100%;
    }
  }

  &__selector {
    &__group {
      margin-top: 20px;
    }

    &__list {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      max-height: 400px;
      overflow-y: scroll;
    }

    &__title {
      margin-bottom: 10px;
    }

    &__item {
      background-size: cover;
      background-position: center;
      width: 100px;
      height: 100px;
      border-radius: 10px;
      transition: all 0.2s ease-out;
      border: 2px solid transparent;
      cursor: pointer;
      opacity: 0.7;
      display: inline-flex;
      align-items: center;
      justify-content: center;
      background-color: $background-1;

      img {
        height: 100%;
      }

      &:hover {
        border: 2px solid #aaa1ff;
        opacity: 1;
      }

      &--selected {
        border: 2px solid #aaa1ff;
        opacity: 1;
      }

      &--upload {
        background-color: rgba(white, 0.1);
        .dragAndDropImages {
          margin-bottom: 0;

          &__dropzone {
            width: 100% !important;
            height: 100% !important;
            border: 0;
          }
          svg {
            width: 32px;
            height: 32px;

            &:last-child {
              display: none;
            }
          }
        }
      }
    }
  }

  &__form {
    padding: 0 15px;
  }

  &__music,
  &__prompt,
  &__characters,
  &__background {
    margin-top: 20px;

    &__title {
      margin-bottom: 10px;
    }
  }

  &__background__button {
    width: 100%;
  }

  &__characters__list {
    display: flex;
    gap: 10px;
  }

  &__characters__item {
    width: 100px;
  }

  &__prompt {
    .Input__textArea {
      height: 100px;
    }
  }

  &__actions {
    margin-top: 10px;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
  }

  &__background-search {
    margin-top: 20px;

    &__input {
      position: relative;
      margin-bottom: 20px;

      .Loader {
        position: absolute;
        top: 10.5px;
        left: initial;
        right: 14px;
      }
    }

    &__load-more {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }
}
