@import '../../variables';

.InteractiveMap {
  &__toggle {
    font-size: 24px;
    transition: color 0.2s ease-out;
    color: white;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: $secondary-color;
    }

    &:disabled {
      svg {
        color: gray;
        cursor: default;
      }
    }
  }
  &__place-info {
    position: absolute;
    top: 0;
    right: -200px;
    width: 200px;
    background-color: $background-1;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px #cd5fea;
    opacity: 0.8;

    &--mobile {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      position: static;
    }
  }

  &__modal {
    overflow: visible !important;
  }

  &__modal-content {
    margin-top: 30px;
    position: relative;
  }

  &__background-image {
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
  }

  &__modal-map-selector {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 15px;
    top: 15px;
  }

  &__toggle--highlighted {
    // white glow pulse animation;
    animation: glow 0.5s infinite;

    &:hover {
      animation: glowPurple 0.5s infinite;
    }
  }

  @keyframes glow {
    0% {
      transform: scale(1);
      filter: drop-shadow(0 0 5px white);
    }
    50% {
      transform: scale(1.1);
      filter: drop-shadow(0 0 10px white);
    }
    100% {
      transform: scale(1);
      filter: drop-shadow(0 0 5px white);
    }
  }

  @keyframes glowPurple {
    0% {
      filter: drop-shadow(0 0 5px #cd5fea);
    }
    50% {
      filter: drop-shadow(0 0 10px #cd5fea);
    }
    100% {
      filter: drop-shadow(0 0 5px #cd5fea);
    }
  }
}
