@import '../../variables';

.SceneSelector {
  position: relative;
  display: inline-flex;

  &__trigger {
    outline: none;
    padding: 0;
    margin: 0;
    display: inline-flex;

    font-size: 1.5rem;

    &:disabled {
      svg {
        color: gray;
        cursor: default;
      }
    }
  }

  &__list-container {
    h2 {
      text-align: center;
      padding: 1.5rem 1rem;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__item {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    text-align: left;
    font-size: 0.8em;
    position: relative;
    transition: all 0.2s ease-out;
    outline: none;

    &:hover {
      .SceneSelector__item-background {
        opacity: 0.7;
      }
      .SceneSelector__item-emotion {
        opacity: 1;
      }
    }

    &-background {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      opacity: 0.3;
      transition: all 0.2s ease-out;
    }

    &-emotion {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
      opacity: 0.6;
    }
  }

  &__item-text {
    margin-left: 1rem;
    color: white;
    background-color: #171717;
    z-index: 0;
    padding: 0.5rem 1rem;
    border-radius: 4px;
  }

  &--expanded {
    .SceneSelector__list-container {
    }
  }
}
