@import "../styles/variables";

.LicenseSelector {
  margin: 1em 0;

  &__menu {
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 1em;
    margin: 1em 0;
  }

  &__menu-item {
    opacity: .4;
    transition: all .2s ease-out;
    cursor: pointer;
    outline: none;
    padding: 0;
    border: 0;
    display: flex;
    border-radius: 4px;

    &:hover {
      opacity: .6;
      box-shadow: 0 0 10px 0 white;
    }

    &--selected,
    &--selected:hover {
      opacity: 1;
      transform: scale(1.1);
      box-shadow: none;
    }
  }

  &__details {
    border: 1px solid #9747ff;
    width: 100%;
    // max-width: 300px;
    padding: 1.5em;
    font-size: .8em;
    text-align: left;
    margin: 0 auto;

    &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1em;

      a {
        color: #9747ff;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-list {
      display: flex;
    }
    
    &-list-item {
      flex: 1;

      &-check {
        width: 15px;
        display: inline-block;
        color: red;

        &.checked {
          color: green;
        }
      }
    }
  }
}