@import '../../styles/variables';

.CharacterOutfitsEdit {
  &__group {
    .CharacterOutfitsEdit__groupHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: #fffef9;
        margin: 0;
      }

      .CharacterOutfitsEdit__removeGroupButton {
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  &__formGroup {
    margin-bottom: 1rem;

    &__textarea {
      padding: 0;

      & textArea {
        background-color: transparent;
        margin: 0;
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;

        &:focus {
          border: unset;
          box-shadow: unset;
        }
      }
    }
  }

  &__description-label-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .Input__label {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
    justify-content: space-between;
  }

  &__controls {
    display: flex;
    justify-content: space-between;
  }

  &__group-generation-buttons {
    position: absolute;
    display: flex;
    gap: 10px;
    right: 5px;
    top: 5px;

    .Button {
      font-size: 0.8em;
      padding: 5px 10px;
    }
  }

  &__emotions-container {
    position: relative;
  }

  &__emotions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.875rem;
    justify-content: center;
    border: 1px dashed $node-conector-color;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  &__emotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
    margin-bottom: 0.625rem;

    label {
      display: block;
      color: #6f7396;
      margin-bottom: 5px;
    }

    .CharacterOutfitsEdit__emotionPreview {
      width: 128px;
      height: 128px;
      object-fit: contain;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__emotionDropzone {
    border: 1px dashed #ccc;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }

  &__emotionDropzone.drag-over {
    border-color: #333;
  }

  &__emotionPreview {
    max-width: 100%;
    position: relative;
  }

  &__audioPreview {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &__buttons {
    display: flex;
    gap: 20px;
  }
}
