.step4Preview {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__content {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }

  &__info {
    background-color: $background-1;
    padding: 20px;
    border-radius: 5px;
    color: $text-1;

    img {
      width: 256px;
      height: 256px;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__tags {
    display: flex;
    gap: 10px;
    margin-top: 10px;
  }

  &__tag {
    background-color: $badge-normal;
    padding: 5px 10px;
    border-radius: 5px;
    color: $text-1;
  }

  &__preview {
    background-color: $background-2;
    padding: 20px;
    border-radius: 5px;
    color: $text-1;
    position: relative;

    &__emotionGroupSelect {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__emotionImage {
    width: 512px;
    height: 512px;
    object-fit: cover; // Resize the image to fit the container while maintaining aspect ratio
    background-size: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 5px;
    }
  }

  &__emotionImages {
    width: 600px;
  }

  &__backgroundSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  &__backgroundThumbnail {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;
  
    &:hover {
      border-color: #4978fa;
    }
  
    &.step4Preview__backgroundThumbnail--selected {
      border-color: #4978fa;
    }
  }
}
