.step4Preview {

  &__content {
    margin-top: 20px;
  }

  &__preview {
    padding: 20px;
    border-radius: 5px;
    color: $text-1;
    position: relative;

    &__emotionGroupSelect {
      position: absolute;
      top: -30px;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__emotionImage {
    width: 600px;
    height: 600px;
    object-fit: cover; // Resize the image to fit the container while maintaining aspect ratio
    background-size: 100%;
    display: flex;
    align-items: end;
    justify-content: center;

    img {
      height: 80%;
      object-fit: cover;
      border-radius: 5px;
      bottom: 0;
      // position: absolute;
    }
  }

  &__emotionImages {
    width: 600px;
  }

  &__backgroundSelector {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
  }

  &__backgroundThumbnail {
    width: 100px;
    height: 100px;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: border-color 0.3s;

    &:hover {
      border-color: #4978fa;
    }

    &.step4Preview__backgroundThumbnail--selected {
      border-color: #4978fa;
    }
  }

  &__emotionList {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    &__label {
      flex: 1;
    }

    &__dropdown {
      flex: 6;
    }
  }

  div &__emotionCarousel {
    margin: 0 auto;
    width: 70%;
  }
}
