@import "./variables";

.step3Expressions {
  width: 100%;
  max-width: 852px;
  max-height: 65vh;

  h2 {
    color: #fffef9;
    margin-bottom: 1rem;
  }

  .step3Expressions__group {
    .step3Expressions__groupHeader {
      display: flex;
      justify-content: space-between;
      align-items: center;

      h3 {
        color: #fffef9;
        margin: 0;
      }

      .step3Expressions__removeGroupButton {
        width: 1rem;
        height: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: transparent;
        border: none;
        border-radius: 50%;
        cursor: pointer;
      }
    }
  }

  .step3Expressions__formGroup {
    margin-bottom: 1rem;

    &__textarea {
      padding: 0;

      & textArea {
        background-color: transparent;
        margin: 0;
        height: 2.5rem;
        max-height: 2.5rem;
        min-height: 2.5rem;

        &:focus {
          border: unset;
          box-shadow: unset;
        }
      }
    }
  }

  .step3Expressions__controls {
    display: flex;
    justify-content: space-between;
  }

  .step3Expressions__emotions {
    display: flex;
    flex-wrap: wrap;
    gap: 0.875rem;
    justify-content: center;
    border: 1px dashed $node-conector-color;
    padding: 1.5rem;
    border-radius: 1rem;
  }

  .step3Expressions__emotion {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 128px;
    margin-bottom: 0.625rem;

    label {
      display: block;
      color: #6f7396;
      margin-bottom: 5px;
    }

    .step3Expressions__emotionPreview {
      width: 128px;
      height: 128px;
      object-fit: contain;
      border-radius: 3px;
      cursor: pointer;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  .step3Expressions__emotionDropzone {
    border: 1px dashed #ccc;
    padding: 10px;
    cursor: pointer;
    position: relative;
  }

  .step3Expressions__emotionDropzone.drag-over {
    border-color: #333;
  }

  .step3Expressions__emotionPreview {
    max-width: 100%;
  }
}
