@import "./variables";

.step1Description {
  width: 100%;

  &__input {
    width: 100%;
  }

  &__dragAndDropImages {
    margin-top: 0.5rem;
    padding: 2rem;
    border: 1px dashed $node-conector-color;
    border-radius: 1rem;
  }

  &__formGroup {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;

    select {
      width: 100%;
      padding: 8px 12px;
      border: 1px solid $text-3;
      border-radius: 4px;
      background-color: $background-1;
      color: $text-1;
      font-size: 14px;
      outline: none;
      resize: none;
      transition: border-color 0.2s, box-shadow 0.2s;

      &:hover {
        border-color: $text-2;
      }

      &:focus {
        border-color: $badge-cheap;
        box-shadow: 0 0 0 2px rgba($badge-cheap, 0.3);
      }
    }
  }

  &__textarea {
    padding: 0;

    & textArea {
      background-color: transparent;
      margin: 0;
      min-height: 2.5rem;

      &:focus {
        border: unset;
        box-shadow: unset;
      }
    }
  }

  &__avatarInput {
    display: none;
  }

  &__avatarPreview {
    width: 256px;
    height: 256px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: box-shadow 0.3s;

    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    }
  }

  &__attribute {
    &__fields {
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      gap: 1rem;
    }

    &__controls {
      display: flex;
      align-items: center;
    }

    &__remove {
      width: 1rem;
      height: 1rem;
      padding: 0;

      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;

      border: unset;
      border-radius: 50%;

      cursor: pointer;
      color: #ffffff;

      transition: all 0.3s ease-in-out;

      &:hover {
        opacity: 0.9;
        outline: solid 1px #ff0000;
        background-color: #ff0000;
      }
    }
  }

  &__addAttributeButton {
    margin-top: 1rem;
    font-size: 18px;
  }

  &__sample-conversation {
    position: relative;
    padding-bottom: 10px;

    &:last-child {
      padding: 0;
    }

    &__remove {
      position: absolute;
      top: 8px;
      right: 9px;
    }

    textarea {
      padding-right: 20px;
    }
  }
}
