.topBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;

  &__node {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.2s;
    border: 2px solid $node-conector-color;

    &--completed {
      background-color: $node-color-completed;
    }

    &--active {
      color: $text-1;
      width: 44px;
      height: 44px;

      & div {
        background-color: $node-color-active;
        width: 36px;
        height: 36px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;

        &:hover:not(&--disabled) {
          background-color: $node-color-completed;
        }
      }
    }

    &--disabled {
      background-color: transparent;
      cursor: not-allowed;
      color: $text-2;
    }
  }

  &__connector {
    width: 48px;
    height: 2px;
    background-color: $node-conector-color;

    &--completed {
      background-color: $node-color-completed;
    }
  }
}
