@import "variables";
@import "buttons";
@import "topbar";
@import "modal";
@import "step1-description";
// @import "step2-model-voice";
// @import "step3-expressions";
@import "step3-scenarios";
@import "step4-preview";

* {
  box-sizing: border-box;
}

body {
  background-color: #121a36;
  font-family: "Poppins", "Roboto", sans-serif;
  color: $text-1;
  padding: 0;
  margin: 0;
}
.characterCreationForm {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
  max-width: 852px;
  margin: 0 auto;

  &__headingContainer {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    width: 100%;
  }

  &__buttonsContainer {
    width: 100%;
    display: flex;
    align-self: center;
    align-items: end;
    justify-content: space-between;
    padding: 20px 0;

    & div {
      display: flex;
      gap: 1rem;
    }
  }

  &__navigationButtons {
    display: flex;
    justify-content: space-between;
  }

  &__stepsContainer {
    width: 100%;
    border-radius: 1rem;
    max-height: auto;
    overflow: scroll;
    margin: 0 auto;
  }
}
