.InteractorHeader {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  &__container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.75rem;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    z-index: 3;
  }

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    color: white;
    font-size: 1.5rem;
    gap: 1rem;
  }

  .icon-button {
    color: white;
    transition: all 0.2s ease-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;

    &:hover {
      color: #a78bfa;
    }

    &:focus {
      outline: none;
    }
  }

  &__profile_pic {
    width: 2rem;
    height: 2rem;
    background-size: cover;
    border-radius: 50%;
  }

  &__hints {
    display: flex;
    align-items: start;
    flex-direction: column;
    gap: 4px;
    width: 100%;
    z-index: 2;
  }

  &__brain {
    font-size: 2rem;
    transition: all 0.2s ease-out;
    cursor: pointer;
    color: #1b1f3a !important;

    &:hover {
      animation: neon1 0.3s ease-in-out infinite alternate;
    }
  }

  &__header-name {
    height: 1rem;
    max-width: 150px;
    overflow: hidden;
    position: relative;
    min-height: 1.2rem;
  }

  &__header-info {
    color: white;
    transition: all 0.2s ease-out;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    font-size: 1.5rem;

    &:hover {
      color: #a78bfa;
    }
  }
}

@keyframes neon1 {
  from {
    filter: drop-shadow(0 0 2px #cd5fea);
  }
  to {
    filter: drop-shadow(0 0 10px #9b47b3);
  }
}
@keyframes neon2 {
  from {
    filter: drop-shadow(0 0 5px white);
  }
  to {
    filter: drop-shadow(0 0 8px white);
  }
}

@media screen and (max-width: 400px) {
  .ScreenSizer {
    display: none !important;
  }
}
