.InteractorHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75rem;
  border-radius: 0.75rem;
  z-index: 10;
  padding: 5px;

  &__left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
  }

  &__right {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    color: white;
  }
}
