// Define base styles for the component
.Interactor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 0.75rem; // This is equivalent to 'rounded-xl' in Tailwind
  box-shadow: 0px 0px 20px 0px rgb(205 95 234);
  position: relative;

  &__content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }

  &__cutscene,
  &__battle-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    background: linear-gradient(rgb(12, 10, 29) 0%, rgb(30, 26, 65) 100%);
    border-radius: 0.75rem;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 10%);
      border-radius: 0.75rem;
      z-index: 0;
    }
  }

  &__main-image-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 0.75rem; // Equivalent to 'rounded-xl' in Tailwind

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0) 10%);
    }
  }

  &__background-image,
  &__background-video,
  &__background-mobileVideo {
    height: 100%;
    width: 100%;
    z-index: 0;
    border-radius: 0.75rem; // Equivalent to 'rounded-xl' in Tailwind
    object-fit: cover;
    transition: all 0.2s ease-in;
    pointer-events: none;
    user-select: none;
  }

  &__mobileVideo {
    object-fit: none;
  }

  &__emotion-renderer {
    opacity: 0;
    z-index: 0;
    object-fit: contain;
    object-position: bottom;
    height: 100%;
    transition: all 0.2s ease-out;
    animation: up-and-down 3s ease-in-out infinite;
    -webkit-user-drag: none;
  }

  &__characters {
    position: absolute;
    bottom: 0;
    height: 90%;
    object-fit: cover;
    transition: all 0.2s ease-in;
    user-select: none;
    display: flex;
    justify-content: center;
    z-index: 1;
    transform-origin: center bottom;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;

    .Interactor__character-container {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform-origin: center bottom;
      transition: transform 0.4s ease;
    }
  }

  &__character-container {
    position: absolute;
    height: 100%;

    .Interactor__emotion-renderer {
      position: relative;
      width: 100%;
      height: 100%;
      filter: brightness(0.6);
      animation: none;
    }

    &.selected {
      .Interactor__emotion-renderer {
        animation: up-and-down 3s ease-in-out infinite, brightnessfade 0.5s ease-in-out forwards;
        z-index: 1;
      }
    }

    &:hover {
      .InnerThoughtsTrigger__container {
        opacity: 1;
      }
    }
  }
}

@keyframes brightnessfade {
  0% {
    filter: brightness(0.6);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes up-and-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(2px);
  }
}
