@import '../../variables';

.Inventory {
  height: 480px;
  min-width: 200px;
  max-width: 423px;

  background-color: #0c1225c2;

  border: solid 1px #cd5feac2;
  border-left: none;

  margin-top: 50px;
  border-radius: 0 10px 10px 0;
  z-index: 1;

  position: absolute;
  left: 0;
  top: 0;

  &.initial {
    display: none;
  }

  &.open {
    animation: inventoryOpenAnimation 0.3s ease-in-out;
  }

  &.closed {
    animation: inventoryCloseAnimation 0.4s ease-in-out both;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 1rem;
    font-size: 1.4rem;
    text-align: left;
    background-color: #25284bc2;

    border-top-right-radius: 10px;
  }

  &__close-button {
    display: flex;
    justify-content: center;
    align-items: center;

    &-icon {
      color: $color-white;

      &:hover {
        color: $color-light-gray;
      }

      &:active {
        color: $secondary-color;
      }
    }
  }

  &__content {
    display: flex;
  }

  &__items {
    overflow-y: auto;

    display: flex;
    flex-wrap: wrap;
    padding: 15px;
    padding-bottom: 0;
    gap: 10px;
    height: 430px;
    width: 188px;
  }

  &__item {
    width: 74px;
    height: 74px;
    align-items: center;
    justify-content: center;

    overflow: hidden;
    position: relative;
    cursor: pointer;
    user-select: none;

    opacity: 0.5;
    background-color: $background-1;

    border-radius: 10px;
    border: 2px solid transparent;

    transition: all 0.2s ease-out;

    &-image {
      width: 100%;
      height: 100%;
      pointer-events: none;
    }

    &-name {
      min-width: 100%;
      bottom: 5%;

      font-size: 0.75rem;
      white-space: nowrap;
      position: absolute;
      text-align: center;

      background-color: rgba(0, 0, 0, 0.65);
      opacity: 0;
    }

    &-price {
      position: absolute;
      top: 0;
      left: 0;

      background-color: $background-1;
      border-bottom-right-radius: 10px;

      font-size: 0.7rem;
      padding: 0.2rem;

      transition: all 0.2s ease-out;
    }

    &.selected {
      border: 2px solid #ffeb3b !important;
      opacity: 1;
      box-shadow: 0 0 10px #ffeb3b;

      .Inventory__item-price {
        background-color: #ffeb3b !important;
      }

      .Inventory__item-name {
        animation: infiniteSlide var(--animation-duration) linear infinite;
        opacity: 1;
      }
    }

    &:hover {
      border: 2px solid #aaa1ff;
      opacity: 1;

      .Inventory__item-price {
        background-color: #aaa1ff;
      }

      .Inventory__item-name {
        animation: infiniteSlide var(--animation-duration) linear infinite;
        opacity: 1;
      }
    }
  }
}

.InventoryItemModal {
  width: 150px;
  height: 100%;
  padding: 0.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;

  cursor: default;

  &__content {
    width: 100%;

    display: flex;
    flex-direction: column;
  }

  &__image {
    flex: 1;
    width: 100%;

    display: flex;
    flex-direction: column;

    img {
      border-radius: 10px;
      border: 1px solid #ffeb3b;
      box-shadow: 0 0 10px #ffeb3b;

      pointer-events: none;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  &__name {
    font-size: 1rem;
    margin-top: 0.25rem;

    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    cursor: default;
    width: 100%;
  }

  &__description {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    text-align: center;
  }

  &__price {
    font-size: 1rem;
    margin-top: 1rem;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #item-name-tooltip {
    background-color: $text-3;
  }

  button.InventoryItemModal__button {
    margin-top: 1rem;

    background-color: #ffeb3b;
    color: $text-2;
    font-size: 0.7rem;
    padding: 0.35rem 0.1rem;

    width: 100%;

    &:hover {
      color: $text-1;
    }
  }
}

@keyframes infiniteSlide {
  0% {
    text-indent: var(--initial-text-position);
  }
  100% {
    text-indent: var(--ending-text-position);
  }
}

@keyframes inventoryCloseAnimation {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    display: none;
    z-index: -1;
    opacity: 0;
  }
}

@keyframes inventoryOpenAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
