@import '../../variables';

.MemoryCapacityViewModal {
  background: transparent !important;
  max-width: 55rem !important;
  padding: 0 !important;
}

.MemoryCapacityView {
  min-width: 1.75rem;
  min-height: 1.75rem;
  position: relative;
  transition: ease-in-out 0.2s;

  &__fill {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  &__icon,
  &__unfilled-icon {
    position: absolute;
    min-width: 1.75rem;
    min-height: 1.75rem;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__unfilled-icon {
    color: $background-color-darker;
    filter: drop-shadow(0 0 1px #cd5fea);
  }

  &__percentage {
    position: absolute;
    bottom: 0;
    left: 60%;
  }

  &__modal {
    width: 100%;
    display: flex;
    align-items: center;
    border-radius: 16px;
    background-color: $background-2;

    &-left,
    &-right {
      width: 50%;
      height: 25rem;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: space-between;
      padding: 20px 10px;

      &:hover {
        background-color: $background-1;
      }

      &__container {
        display: flex;
        align-items: center;
        flex-direction: column;

        & p {
          width: 95%;
          font-size: 0.85rem;
          margin-top: 4px;
        }
      }
    }

    &-right {
      border-right: 1px solid $color-gray;
    }
  }
}

//media query for views smaller than 768px
@media screen and (max-width: 768px) {
  .MemoryCapacityView {
    &__modal {
      &h2 {
        font-size: 1rem;
      }
      & p {
        font-size: 0.75rem;
      }
    }
  }
}

.mobile-view {
  flex-direction: column;

  .MemoryCapacityView {
    &__modal {
      flex-direction: column;

      &-left,
      &-right {
        width: 100%;
        height: 100%;
        gap: 0.5rem;
      }

      &-right {
        border-right: none;
        border-bottom: 1px solid $color-gray;
      }
      &-left {
        background-color: $background-1;
      }

      &__container {
        gap: 0.5rem;
        &h2 {
          font-size: 1rem;
        }
        & p {
          font-size: 0.75rem;
        }
      }
    }
  }
}

.clickable {
  cursor: pointer;
  &:hover {
    animation: neon1 0.3s ease-in-out infinite alternate;
    color: $background-color-darker;
  }
}

@keyframes neon1 {
  from {
    filter: drop-shadow(0 0 2px #cd5fea);
  }
  to {
    filter: drop-shadow(0 0 10px #9b47b3);
  }
}
