@import '../../variables';

.MemoryCapacityView {
  min-width: 1.75rem;
  min-height: 1.75rem;
  position: relative;
  transition: ease-in-out 0.2s;

  &__fill {
    position: absolute;
    bottom: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  &__icon,
  &__unfilled-icon {
    position: absolute;
    min-width: 1.75rem;
    min-height: 1.75rem;
    bottom: 0;
    left: 0;
    overflow: hidden;
  }

  &__unfilled-icon {
    color: $background-color-darker;
    filter: drop-shadow(0 0 1px #cd5fea);
  }

  &__percentage {
    position: absolute;
    bottom: 0;
    left: 65%;
    font-size: 0.65rem;
    text-align: right;
  }

  &__modal {
    width: 100%;
    display: flex;
    flex-direction: column;

    &-header {
      &__subtitle {
        margin-top: 4px;
        font-size: 0.85rem;
        font-style: italic;
        color: $color-gray;
      }
    }

    &-top,
    &-bottom {
      display: flex;
      align-items: center;
      gap: 1rem;
      padding: 10px 0 10px 10px;
      border-radius: 10px;
      margin-top: 10px;

      &__text {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        & div {
          display: flex;
          align-items: center;
          gap: 4px;
        }

        & p {
          font-size: 0.85rem;
        }
      }
    }

    &-top {
      color: $text-2;
    }

    &-bottom {
      background-color: $background-color-darker;
      border: 1px solid $color-gray;
    }

    &-buttons {
      width: 100%;
      display: flex;
      gap: 1rem;
      justify-content: end;
      align-items: center;
      margin-top: 10px;
    }
  }
}

.clickable {
  cursor: pointer;
  &:hover {
    animation: neon1 0.3s ease-in-out infinite alternate;
    color: $background-color-darker;
  }
}

@keyframes neon1 {
  from {
    filter: drop-shadow(0 0 2px #cd5fea);
  }
  to {
    filter: drop-shadow(0 0 10px #9b47b3);
  }
}

.mobile-view {
  .MemoryCapacityView__modal-top,
  .MemoryCapacityView__modal-bottom {
    position: relative;
    padding-bottom: 15px;
  }

  .MemoryCapacityView {
    position: absolute;
    top: 5px;
    left: 5px;
  }

  .MemoryCapacityView__modal-top__text,
  .MemoryCapacityView__modal-bottom__text {
    h4 {
      margin-top: 5px;
      margin-left: 50px;
      margin-bottom: 15px;
    }
  }

  .MemoryCapacityView__modal-buttons {
    margin-top: 20px;
    .Button {
      font-size: 0.75rem;
    }
  }

  .MemoryCapacityView__percentage {
    font-size: 0.5rem;
  }
}
