@import '../../variables';

.PremiumHint {
  background: linear-gradient(to right, rgba(black, 0.6), rgba(black, 0.3) 100%);
  transition: all 0.2s ease-out;

  &__icon,
  &__text {
    overflow: hidden;
  }

  &__icon {
    animation: showup 7s forwards;
    color: #ffdc3f;
    transition: all 0.2s ease-out;
    filter: drop-shadow(0px 0px 4px #ffc23f);

    font-size: 20px;
  }

  &__content {
    text-align: left;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 6px;
    user-select: none;
    transition: all 0.2s ease-out;
    cursor: pointer;
  }

  &__text {
    animation: reveal 7s forwards;
    height: 37px;
  }

  &__text-span {
    margin-left: -330px;
    animation: slidein 7s forwards;
    text-shadow: 1.41px 1.41px black, 2px 0 black, 1.41px -1.41px black, 0 -2px black, -1.41px -1.41px black,
      -2px 0 black, -1.41px 1.41px black, 0 2px black;
  }

  &__text-label {
    color: rgb(225, 138, 36);
    display: inline-block;
  }

  &--hidden {
    opacity: 0;
    display: none;
  }

  @keyframes showup {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }
    20% {
      margin-left: -800px;
    }
    35% {
      margin-left: 0px;
    }
    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }
    20% {
      opacity: 1;
      width: 0px;
    }
    30% {
      width: 330px;
    }
    80% {
      opacity: 1;
    }
    100% {
      width: 330px;
    }
  }
}
