$primary-background-color: #ffffff11;
$secondary-background-color: #ffffff22;
$primary-color: #9747ff;
$secondary-color: #5f6388;
$font-color-light-gray: lightgray;
$font-size-small: 0.8rem;
$border-radius: 8px;
$gap: 10px;
$margin: 0 0 15px 0;
$padding-standard: 20px 15px;
$flex-wrap-gap: 10px;

.Settings {
  display: inline-flex;
}

.SettingsModal {
  padding: 10px 20px;
  overflow: auto;

  &__navigation {
    display: flex;
    align-items: center;
    gap: $gap;
    margin-left: $gap;
    margin-top: $gap;

    &__button {
      color: $font-color-light-gray;
      padding: 4px 3px;
    }
    .selected {
      text-decoration: underline;
      text-decoration-color: $primary-color;
      text-decoration-thickness: 2px;
    }
  }

  &__name,
  &__text-speed,
  &__text-font-size,
  &__voice,
  &__systemPrompt {
    padding: $padding-standard;
    background-color: $primary-background-color;
    border-radius: $border-radius;
    margin: $margin;
  }

  &__text-speed,
  &__text-font-size,
  &__voice-readAsteriks,
  &__voice-speed {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: $flex-wrap-gap;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  &__voice {
    border: 1px solid $secondary-background-color;
  }

  &__voice-description {
    font-size: $font-size-small;
    font-style: italic;
    color: $font-color-light-gray;
  }

  &__voice-enabled,
  &__voice-header {
    display: flex;
    justify-content: space-between;
    margin: $margin;
    flex-wrap: wrap;
    gap: $gap;
  }

  &__voice-enabled {
    justify-content: flex-end;
  }

  &__voice-header-title {
    flex: 3;
  }

  &__text-speed p,
  &__text-font-size p,
  &__voice-readAsteriks p,
  &__voice-speed p {
    flex: 1;
    text-wrap: nowrap;
  }

  .slider-container {
    flex: 2;
    min-width: 200px;
  }

  &__systemPrompt {
    &__count {
      line-height: 1.25rem;
      font-weight: 500;
      font-size: 0.679rem;
      color: $secondary-color;

      text-align: end;
    }
  }

  &__title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
}
