name: alpha.miku.gg deployment

on:
  push:
    branches:
      - master
    paths:
      - apps/browser-chat/**
      - packages/**
  pull_request:
    types: [opened, synchronize, reopened, closed]
    branches:
      - master
    paths:
      - apps/browser-chat/**
      - packages/**

jobs:
  build_and_test_job:
    # if: github.event_name != 'push' || github.ref != 'refs/heads/master'
    runs-on: ubuntu-latest
    name: Build and Test Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Install
        run: npm i -g pnpm && pnpm install && pnpm test && pnpm run build

  deploy_job:
    # if: github.event_name == 'push' && github.ref == 'refs/heads/master'
    runs-on: ubuntu-latest
    name: Deploy Job
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Install
        run: npm i -g pnpm && pnpm install && pnpm run build
        env:
          VITE_SERVICES_ENDPOINT: ${{ secrets.VITE_SERVICES_ENDPOINT }}
          VITE_BOT_DIRECTORY_ENDPOINT: ${{ secrets.VITE_BOT_DIRECTORY_ENDPOINT }}
          VITE_IMAGES_DIRECTORY_ENDPOINT: ${{ secrets.VITE_IMAGES_DIRECTORY_ENDPOINT }}
          VITE_GA_KEY: ${{ secrets.VITE_GA_KEY}}
      - name: Deploy to S3
        run: aws s3 sync apps/browser-chat/dist ${{ secrets.S3_BUCKET_ALPHA }} --delete
      - name: Invalidate Cloudfront distribution
        run: aws cloudfront create-invalidation --distribution-id ${{ secrets.CF_DISTRIBUTION_ALPHA }} --paths "/*"